@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

*{
    margin: 0;
    padding: 0;
}

html, body {
    background: #2c3e50;
    color: #141414;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 10%;
}

.title {
    color: #FFD700;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.parking {
    max-width: 600px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.parkingGarage {
    padding: 20px;
    border-bottom: 2px solid black;
}

.parkingGarage:last-of-type {
    border-bottom: 0;
}

.parkingGarage::after {
    display: table;
    content: '';
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.circle {
    width: 25px;
    height: 25px;
    margin: 10px 20px 0 0;
    display: inline-block;
    border-radius: 50%;
    background: gray;
}

.green {background: green;}
.orange {background: #FFD700;}
.red {background: red;}